---
import { apiWorks } from '../api/resources';
import Card from './Card.astro';
import SelectedWorkText from './SelectedWorkText.astro';

let repos = await apiWorks();
let works = repos.works;
---

<div class="buttons">
	<button id="all">show all</button>
	<button id="professional">show professional</button>
	<button id="personal">show personal</button>
</div>

<div class="allWorks">
	{
		works.map((work: any) => (
			<Card
				title={work.title}
				imageToDisplay={work.image}
				body={work.body}
				href={work.href.toString()}
				alt = true
				flexType={work.flexType}
				category={work.category}
				fadeText={work.fadeText}
			/>
		))
	}
</div>

<div class='personalWorks'>
	{
		works
			.map((work: any) => ({
				...work,
				isPersonal: Array.isArray(work.type)
					? work.type
							.map((type: string) => type.toLowerCase())
							.includes('personal')
					: work.type.toLowerCase().includes('personal'),
			}))
			.filter((work: any) => work.isPersonal)
			.map((work: any) => (
				<Card
					title={work.title}
					imageToDisplay={work.image}
					body={work.body}
					href={work.href.toString()}
					alt=true
					flexType={work.flexType}
					category={work.category}
					fadeText={work.fadeText}
				/>
			))
	}
</div>

<div class='professionalWorks'>
	{
		works
			.map((work: any) => ({
				...work,
				isProfessional: Array.isArray(work.type)
					? work.type
							.map((type: string) => type.toLowerCase())
							.includes('professional')
					: work.type.toLowerCase().includes('professional'),
			}))
			.filter((work: any) => work.isProfessional)
			.map((work: any) => (
				<Card
					title={work.title}
					imageToDisplay={work.image}
					body={work.body}
					href={work.href.toString()}
					alt=true
					flexType={work.flexType}
					category={work.category}
					fadeText={work.fadeText}
				/>
			))
	}
</div>

<script>
	const allWorks = document.querySelector('.allWorks') as HTMLElement;
	const personalWorks = document.querySelector('.personalWorks') as HTMLElement;
	const professionalWorks = document.querySelector('.professionalWorks') as HTMLElement;

	const buttonAll = document.getElementById('all')?.addEventListener('click', () => {
		allWorks.style.display = 'block';
		personalWorks.style.display = 'none';
		professionalWorks.style.display = 'none';
	})
	const buttonPro = document.getElementById('professional')?.addEventListener('click', () => {
		allWorks.style.display = 'none';
		personalWorks.style.display = 'none';
		professionalWorks.style.display = 'block';
	})
	const buttonPer = document.getElementById('personal')?.addEventListener('click', () => {
		allWorks.style.display = 'none';
		personalWorks.style.display = 'block';
		professionalWorks.style.display = 'none';
	})
	
</script>

<style>
	.buttons {
		display: flex;
		justify-content: center;
		gap: 2rem;
	}
</style>