---
import { Image } from 'astro:assets';
import ancora from './assets/ancora.png';
import conx from './assets/conx.png';
import toledoFerrari from './assets/toledo-ferrari.png';
import mkt from './assets/mkt.png';
import afya from './assets/afya.png';
import desco from './assets/desco.png';
import bjConsulting from './assets/bj-consulting.png';
---

<div class='stock-ticker'>
	<ul>
		<li class='invert'>
			<Image
				src={bjConsulting}
				alt='BJ Consulting'
			/>
		</li>

		<li>
			<Image
				src={ancora}
				alt='Âncora'
			/>
		</li>

		<li>
			<Image
				src={conx}
				alt='Conx'
			/>
		</li>

		<li>
			<Image
				src={toledoFerrari}
				alt='Toledo Ferrari'
			/>
		</li>

		<li class='invert'>
			<Image
				src={afya}
				alt='Afya'
			/>
		</li>

		<li class='invert'>
			<Image
				src={desco}
				alt='Descomplica'
			/>
		</li>

		<li>
			<Image
				src={mkt}
				alt='Mkt4Edu | 4revops'
			/>
		</li>
	</ul>

	<ul aria-hidden='true'>
		<li class='invert'>
			<Image
				src={bjConsulting}
				alt='BJ Consulting'
			/>
		</li>

		<li>
			<Image
				src={ancora}
				alt='Âncora'
			/>
		</li>

		<li>
			<Image
				src={conx}
				alt='Conx'
			/>
		</li>

		<li>
			<Image
				src={toledoFerrari}
				alt='Toledo Ferrari'
			/>
		</li>

		<li class='invert'>
			<Image
				src={afya}
				alt='Afya'
			/>
		</li>

		<li class='invert'>
			<Image
				src={desco}
				alt='Descomplica'
			/>
		</li>

		<li>
			<Image
				src={mkt}
				alt='Mkt4Edu | 4revops'
			/>
		</li>
	</ul>
</div>

<style>
	.stock-ticker {
		font-size: 15px;
		padding-block: 8px;
		/* border-block: 1px solid; */
		overflow: hidden;
		user-select: none;
		--gap: 4rem;
		display: flex;
		gap: var(--gap);
	}
	.invert {
		filter: invert(100%);
	}
	img {
		filter: grayscale(100%) opacity(50%);
		width: auto;
		max-width: 200px;
		object-fit: cover;
	}

	.stock-ticker ul li {
		padding-block: 1rem;
	}
	.stock-ticker ul {
		list-style: none;
		flex-shrink: 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: var(--gap);

		animation: scroll 20s linear infinite;
	}

	.stock-ticker:hover ul {
		animation-play-state: paused;
	}

	@keyframes scroll {
		to {
			transform: translateX(calc(-100% - var(--gap)));
		}
	}

	@media (max-width: 768px) {
		.stock-ticker {
			--gap: 2rem;
		}
	}
</style>
